/* Global Styles */

html, body {
  min-height: 100vh;
}

body {
  margin: 0;
  box-sizing: border-box;
}

/* site specific stuff */

:root {
  /* Gradient from firewatchgame.com */
  --red0: hsla(22, 96%, 89%, 1);
  --red1: hsla(16, 98%, 65%, 1);
  --red2: hsla(13, 97%, 63%, 1);
  --red3: hsla(7, 97%, 63%, 1);
  --red4: hsla(352, 64%, 48%, 1);
  --red5: hsla(337, 94%, 25%, 1);
  --red6: hsla(325, 93%, 17%, 1);
  --red7: hsla(304, 43%, 12%, 1);

  --green0: #516333;
  --green1: #7EB550;
  --green2: #8EDB59;
  --green3: #AAFD6F;
  --green4: #D3FC9F;

}

.container {
  box-sizing: border-box;
  background-image: linear-gradient(
    to bottom,
    var(--green4),
    var(--green3),
    var(--green2),
    var(--green1),
    var(--green0)
  );
  min-height: 100vh;
}

header.main {
  height: 20em;
  display: flex;
  justify-content: center;
  background-image: url(static/pdxnode.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.logo {
  margin: 0;
  visibility: hidden;
}

.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ul.elsewhere {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
